<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/png" href="https://img.alicdn.com/tfs/TB1QD_BkHH1gK0jSZFwXXc7aXXa-80-80.png">
	<title>Mocks平台</title>
</head>
<body>
	<div style="display:flex;align-items:center;justify-content:center;width:100%;height:90vh;">
    <div style="text-align:center">
			<p>
				<span style="font-size:24px;color:#666;">你好，mocks！<span><br/>
				<span style="font-size:18px;color:#999;font-weight:lighter;">简单写个页面测一下登录~</span>
			</p>
		</div>
  </div>
</body>
</html>
